In [1]:
import pandas as pd
import cx_Oracle
cx_Oracle.init_oracle_client(lib_dir=r"C:\oracle\instantclient_21_3") # <- INSERT YOUR ORA-CLIENT's PATH HERE

In [94]:
df = pd.read_excel('transactions_01052020.xlsx') # <- INSERT SRC_FILE_NAME HERE

In [95]:
connection = cx_Oracle.connect(user="%USER_NAME",\
                               password="%PASSWORD",\
                               dsn="52.232.35.158:1521/dereboot") # <- INSERT YOUR LOGIN/PASSWORD HERE
cursor = connection.cursor()
insert_table = "INSERT INTO src_transactions VALUES (:1,:2,:3,:4,:5,:6,:7,:8,:9,:10,:11,:12,:13,:14,:15,:16,:17,:18,:19,:20)"
df_list = df.fillna('').values.tolist() 
cursor.executemany(insert_table,df_list)    
cursor.close()
connection.commit()
connection.close()